
@media screen and (max-width:768px) {
    .navbar{
        margin-left: 10px;
    }
    .navbar h3{
        font-size: 2rem;
    }
    .nav-links .nav-item a{
        font-size: 13px;
    }
    .banner-title{
        font-size: 3rem;
    }
    .banner-description{
        font-size: 0.75rem;
    }
    /* team section */
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        margin-bottom: 40px;
    }
    .fact-card{
        grid-template-columns: repeat(2,1fr);
    } 
    .some-facts{
        margin: 0 20px;
    }
    .card{
        margin: 0 auto;
    }
    .sponsor-icon-group{
        grid-template-columns: repeat(1,1fr);
    } 
    .sponsor-icon-group img{
        display: block;
        margin: auto;
    }
}

@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .fact-card{
        grid-template-columns: repeat(1,1fr);
    } 
    .sponsor-icon-group{
        grid-template-columns: repeat(1,1fr);
    } 
    .sponsor-icon-group img{
        margin-bottom: 20px;
    }

}